<h2>Welcome, tester!</h2>
<p>In order to use the interface you should first log in. If you don't have personal tester credentials, feel free to login as <i>seal:123</i> </p>
<p>As long as this front-end is far from release the following links might be useful:</p>
<ul>
    <li><a href="http://fe.slave.center/">Old front-end</a></li>
    <li><a href="http://api.slave.center/">Web access to API</a></li>
    <li><a href="http://wiki.slave.center/">Wiki</a></li>
</ul>
<p class="text-muted">Please note that playing from your mobile could be more comfortable then using a huge desktop.</p>
