<table class="table table-striped">
<tbody>
  <% _.each(slaves, function(slave){ %>
    <tr>
        
        <td>
        <div class="container">
            <div id="div-slave-<%= slave.get("id") %>" class="row">
                <div class="col-xs-4">
                    <a href="#<%= slave.get("id") %>"><div><h4><%= slave.get("name") %><h4></div></a>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-1">
                            <% if (slave.get("sex") == "m") { %><i class="fa fa-male"></i>
                            <% } else { %><i class="fa fa-female"></i><% } %>
                        </div>
                        <div class="col-xs-2">Age: <%= slave.get("age") %><br>Exp: <%= slave.get("exp") %></div>
                        <div class="col-xs-3">
                            <% if (slave.get("assignment") != null ) { %>
                                <input id="assignment-of-<%= slave.get("id") %>" type="hidden" value="<%= slave.get("assignment").id %>">
                                <span class="task-name"><%= slave.get("assignment").task_name %></span>
                            <% } else { %>
                                <input id="assignment-of-<%= slave.get("id") %>" type="hidden" value="">
                                <span class="task-name"></span>
                            <% } %>
                        </div>
                        <div class="col-xs-2">
                            <% if (slave.get("free")) { %><i class="fa free-status fa-bed"></i>
                            <% } else { %>
                                <i class="fa free-status fa-suitcase"></i>
                            <% } %>
                        </div>
                    </div>
                    <div id="slave-actions-for-<%= slave.get("id") %>" class="row slave-actions">
                      <div class="col-xs-4">
                      <% if (slave.get("free")) { %>
                        <input id="btn-employ-<%= slave.get("id") %>" class="btn btn-success btn-sm btn-employ" type="button" value="Employ" data-toggle="collapse" data-target="#div-assign-form-<%= slave.get("id") %>" aria-expanded="false">
                        <input id="btn-release-<%= slave.get("id") %>" class="btn btn-danger btn-sm btn-release hidden" type="button" value="Cancel">
                      <% } else { %>
                        <input id="btn-employ-<%= slave.get("id") %>" class="btn btn-success btn-sm btn-employ hidden" type="button" value="Employ" data-toggle="collapse" data-target="#div-assign-form-<%= slave.get("id") %>" aria-expanded="false">
                        <input id="btn-release-<%= slave.get("id") %>" class="btn btn-danger btn-sm btn-release" type="button" value="Cancel">
                      <% } %>
                        <input id="btn-assign-<%= slave.get("id") %>" class="btn btn-warning btn-sm btn-assign hidden" type="button" value="Assign">
                      <div class="col-xs-4">&nbsp;</div>
                    </div>
                </div>
        </div>
        <div id="div-assign-form-<%= slave.get("id") %>" class="row collapse assign-form">
            <div class="col-xs-12 well">
              Loading...
            </div>
        </div>
    </div>
        </td>
    </tr>


  <% }); %>
</tbody>
</table>