<form id="frm-create-task">
<!-- This is temporary dummy solution. Owner is checked by API when creating tasks. -->
  <input id="hdn-owner" type="hidden" name="owner" value="">
<!-- End of temporary solution. :) -->
  <select id="txt-location" name="location">
    <% _.each(locations, function(location){ %>
        <option value="<%= location.get("id") %>"><%= location.get("name") %></option>
    <% }); %>
  </select>
  <select id="txt-type" name="type">
    <% _.each(workflows, function(workflow){ %>
        <option value="<%= workflow.get("id") %>"><%= workflow.get("name") %></option>
    <% }); %>
  </select>

  <input id="btn-submit" type="submit" class="btn btn-success"></input>
</form>
