<div class="row text-center">

    <div class="col-sm-4">
        <h2><%= location.get("name") %></h2>
        <div class="well well-sm location-image">
            <div class="location-image-hq-roof">
            </div>
            <div class="location-image-hq-walls">
            </div>
        </div>
        <div class="text-muted text-left">
                <%= location.get("type") %>: <%= location.get("design") %><br>
                <%= location.get("free_area") %> m<sup>2</sup> free
        </div>
    </div>
  
    <div class="col-sm-8">
        <div class="well">
            <h3>Tasks <sup><span id="num_of_tasks" class="badge"></span></sup></h3>
            <!-- The template for these Tasks rendering moved here: templates/tasks/tasksBriefListTemplate.html -->
            <div id="tasks-list"></div>
            
            <hr>
            <!-- Be ready to move this to some other file. -->
            <h3>Items <sup><span class="badge"><%= location.get("items").length %></span></sup></h3>
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th class="text-center">Item</th>
                        <th class="text-center">Quantity</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(location.get("items"), function(item){ %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.amount %></td>
                        <td><button type="button" class="btn btn-primary">Move</button></td>
                        <td><button type="button" class="btn btn-warning">Sell</button></td>
                    </tr>
                    <% }); %>

                </tbody>
            </table>
		</div>
    </div>
	
</div>
