<div class="main">	
	<h2>Tasks</h2>
    <div id="create-form">
        <input id="btn-create-task" type="button" class="btn btn-success" value="Create">
    </div>
	<div id="tasks-list">    
    <!--[if IE]>
        <object classid="clsid:25336920-03F9-11CF-8FD0-00AA00686F13" data="/templates/etc/loadingTemplate.html">
        <p>backup content</p>
        </object>
        <![endif]-->

        <!--[if !IE]> <-->
        <object type="text/html" data="/templates/etc/loadingTemplate.html">
        <p>Loading...</p>
        </object>
    <!--> <![endif]-->
    </div>
</div>