<table class="table table-striped table-bordered">
<thead>
    <tr>
        <th>Task</th>
        <th>Completed</th>
        <th>Workers</th>
        <th>Estimated finish</th>
    </tr>
</thead>
<tbody>
  <% _.each(tasks, function(task){ %>
    <tr>
        
        <td><a href="#<%= task.get("id") %>"><div><h3><%= task.get("name") %><h3></div></a></td>
        <td>
            <%= task.get("percent_completed") %>
        </td>
        <td>
            <%= task.get("active_assignments_count") %>
        </td>
        <td>
            <%= task.get("date_finish") %>
        </td>
    </tr>
  <% }); %>
</tbody>
</table>